---
import profile from "../img/aboutme/about-me-profile.webp";

import Html from "../components/Tags/html.astro";
import A360 from "../components/Tags/a360.astro";
import Figma from "../components/Tags/figma.astro";
import React from "../components/Tags/react.astro";
import Python from "../components/Tags/python.astro";
import Postman from "../components/Tags/postman.astro";
import Tags from "../components/Tags/Tags.astro";
import AstroTag from "../components/Tags/astroTag.astro";
import ReactNative from "../components/Tags/reactNative.astro";
import Tailwindcss from "../components/Tags/tailwindcss.astro";
import Javascript from "../components/Tags/javascript.astro";

import {aboutMeTechData} from '../consts/data.ts'
---

<section
  class="mx-auto grid min-h-dvh max-w-[108rem] grid-cols-1 place-content-center place-items-center gap-5"
>
  <picture
    class="flex items-center justify-center rounded-full border-4 border-white"
  >
    <img
      class="size-36 h-[10em] w-[10em] rounded-full p-2 duration-300 md:size-80"
      src={profile.src}
      alt=""
    />
  </picture>
  <div class="grid grid-cols-1 place-content-center place-items-center gap-5">
    <p
      class="font-RobotoSlabBold font-bold tracking-wide text-white text-4xl md:text-5xl"
    >
      Hi, I'm David! 👋
    </p>
    <div class="flex flex-wrap justify-center items-center gap-3 text-white">
      {aboutMeTechData.map(({name, svg, bgColor, textColor}) => (
        <Tags name={name} svg={svg} bgColor={bgColor} textColor={textColor} />
      ))}
    </div>
    <p
      class="text-center font-light tracking-wide text-white text-xs md:text-2xl"
    >
      I am passionate about learning, technology, and the world of software
      development and electronics. I specialize in developing applications (both
      web and mobile). As an electronics technician, I also work on IoT
      projects. I always enjoy tackling new challenges and learning cutting-edge
      technologies to continuously improve my skills.
    </p>
  </div>
</section>
